## Data Structures
## List
#### Earlier, while discussing introduction to strings we have introduced the concept of a sequence in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

#### * Lists are constructed with brackets [ ] and commas separating every element in the list.
#### * List can hold different types of datatypes(heterogenous datatypes)
#### * Lists are mutable

In [3]:
lst=['Jasvee',20,20.6,True]
lst

['Jasvee', 20, 20.6, True]

In [4]:
type(lst)

list

In [5]:
# create an list using list function
#1. List function
lst1=list(['Adithri','Amar','Ranjani'])
lst1

['Adithri', 'Amar', 'Ranjani']

In [6]:
type(lst1)

list

In [7]:
#2. Len function
len(lst)

4

### Indexing and Slicing

In [8]:
lst[0]

'Jasvee'

In [9]:
lst[-5]

IndexError: list index out of range

In [10]:
lst[-4]

'Jasvee'

In [11]:
lst[0:3]

['Jasvee', 20, 20.6]

In [12]:
lst[-3:-1]

[20, 20.6]

In [13]:
lst[-4::2]

['Jasvee', 20.6]

In [14]:
lst[0][5]

'e'

In [15]:
lst[0][0:5]

'Jasve'

In [16]:
lst[0][0::3]

'Jv'

In [17]:
lst[0][::-1]

'eevsaJ'

In [18]:
# Adding new items in to the list using concatenation method
lst+['78']
lst

['Jasvee', 20, 20.6, True]

In [19]:
#you have to reassign the list to make the permanent change.
# Reassign
nwlst=lst+['JasveeAdithri']
nwlst

['Jasvee', 20, 20.6, True, 'JasveeAdithri']

In [20]:
#make the list into 5 times
nwlst*5

['Jasvee',
 20,
 20.6,
 True,
 'JasveeAdithri',
 'Jasvee',
 20,
 20.6,
 True,
 'JasveeAdithri',
 'Jasvee',
 20,
 20.6,
 True,
 'JasveeAdithri',
 'Jasvee',
 20,
 20.6,
 True,
 'JasveeAdithri',
 'Jasvee',
 20,
 20.6,
 True,
 'JasveeAdithri']

In [21]:
nwlst

['Jasvee', 20, 20.6, True, 'JasveeAdithri']

### List methods and functions

In [22]:
#3.Append function
nwlst.append('AR')
nwlst

['Jasvee', 20, 20.6, True, 'JasveeAdithri', 'AR']

In [23]:
#4.Insert function - It adds the value in a specific index location
nwlst.insert(2,'JRA')
nwlst

['Jasvee', 20, 'JRA', 20.6, True, 'JasveeAdithri', 'AR']

In [28]:
#5.extend function - if we want to combine more than one list which means it form a single list.
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
l2

[6, 7, 8, 9, 10]

In [47]:
#6.Remove function - 
nwlst.remove('JRA')

In [48]:
nwlst

['Jasvee', 20, 20.6, 'JasveeAdithri', 'AR']

In [49]:
#7.Pop function - it removes the element based on the index position
l1

[1, 2, 3, 5, 6, 7, 8, 9]

In [50]:
#if we didn't pass any argument in the pop then it defaultly removes the last element in the list
l1.pop()

9

In [51]:
l1.pop(2)

3

In [52]:
l1

[1, 2, 5, 6, 7, 8]

In [53]:
#8.Index function - This method is used to find the index position of the given value
#Here 5 is the value not an index position
print(l1.index(5))

2

In [54]:
#9.Copy function
lst_lst=l1.copy()
print(lst_lst)

[1, 2, 5, 6, 7, 8]

In [56]:
#10.Count function
lst_lst.count(1)

1

In [67]:
#11.Reverse function
lst.reverse()
print(lst)

[True, 20.6, 20, 'Jasvee']

In [70]:
#12.Sort function
l1.sort()
print(l1)

[1, 2, 5, 6, 7, 8]

In [71]:
#13.Clear function
l1.clear()

In [72]:
l1

[]

### Nesting lists

In [75]:
lst1=[1,2,3,4,5]
lst2=[6,7,8,9,10]
lst3=[11,12,13,14,15]
#Covert to single list using concatenation
matrix=lst1+lst2+lst3

#Making nesting lists
matrix1=[lst1,lst2,lst3]
matrix1

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

In [78]:
#Indexing and Slicing in nested lists
matrix1[2]

[11, 12, 13, 14, 15]

In [79]:
matrix1[2][3]

14

In [80]:
matrix1[2][::-1]

[15, 14, 13, 12, 11]

### List Comprehension

In [81]:
fst_col=[row[0] for row in matrix1]
fst_col

[1, 6, 11]

In [83]:
#Conditionals in list comprehension
n_lst=[x for x in range(50) if x%2==0]
n_lst

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [86]:
#Nested if with list comprehension
#n2_lst=[y for y in range(30) if y%2==0]
n2_lst=[y for y in range(30) if y%2==0 if y%5==0]
print(n2_lst)

[0, 10, 20]

In [88]:
#if else with list comprehension
ob=["Even" if x%2==0 else "Odd" for x in range(20)]
print(ob)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']